<html>
	<head>
		<title>Sistema simples de tarefas</title>
	</head>
	<body>
		<h1>Sistema simples de tarefas</h1>
			<input type="text" name="tarefa" placeholder="Digite sua tarefa"><button id="btn-adicionar">Adicionar</button>
		<h3>Tarefas</h3>
		<hr>
		<div class="tarefas">
			<ul>
			{% for item in tarefas %}
				{% if item.status == 1 %}
				<s><li> <input type="checkbox" name="tarefa" value="{{ item.id_tarefa }}" checked> {{ item.nome_tarefa }} ({{ item.tm_tarefa}}) </li></s>

				{% else %}
				<li> <input type="checkbox" name="tarefa" value="{{ item.id_tarefa }}"> {{ item.nome_tarefa }} ({{ item.tm_tarefa}}) </li>

				{% endif %}
			{% endfor %}
			</ul>
		</div>
		<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="/assets/main.js"></script>
	</body>
</html>