<ul>
	{% for item in tarefas %}
		{% if item.status == 1 %}
			<s><li> <input type="checkbox" name="tarefa" value="{{ item.id_tarefa }}" checked> {{ item.nome_tarefa }} ({{ item.tm_tarefa}}) </li></s>

		{% else %}
			<li> <input type="checkbox" name="tarefa" value="{{ item.id_tarefa }}"> {{ item.nome_tarefa }} ({{ item.tm_tarefa}}) </li>

		{% endif %}
	{% endfor %}
</ul>
